<div class="container d-flex justify-content-center mt-3">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <%= image_tag ['lucca.jpg', 'lucca2.jpg'].sample, class: "avatar" %>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3 mb-3">
      <a target="_blank" href="https://wa.me/5511988445241"><i class="fab fa-whatsapp fa-3x"></i></a>
      <a target="_blank" href="https://github.com/lucca1998byu"><i class="fab fa-github fa-3x"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/luccadittrich"><i class="fab fa-linkedin fa-3x "></i></a>
      <a target="_blank" href="https://www.instagram.com/lucca_1998/"><i class="fab fa-instagram fa-3x "></i></a>
      <a target="_blank" href="mailto:lucca.dittrich@gmail.com"><i class="fas fa-at fa-3x"></i></a>
    </div>
    <div class="col-12">
      <h2>Download Curriculum</h2>
      <%= link_to 'Lucca.dittrich.en.pdf', download: 'lucca.dittrich.en.pdf', class:"btn btn-primary" do %>
        <i class="fas fa-download"> English</i>
      <% end %>
      <%= link_to 'Lucca.dittrich.pt.pdf', download: 'lucca.dittrich.pt.pdf', class:"btn btn-primary" do %>
        <i class="fas fa-download"> Portuguese</i>
      <% end %>
    </div>
    <div class="col-12">
      <h2>About</h2>
      <p>Working at DocSales. I create templates in HTML and Liquid language(based in Ruby) I attend meetings with clients who are interested in contract the services to make their business proposals easier and faster  </p>

      <p>I am working to improve my coding skills.</p>

      <p>Le Wagon Alumni and Brigham Young University student </p>

    </div>
    <div class="col-12">
      <h2>Skills</h2>
      <div class="d-flex align-items-center flex-wrap">
        <svg class="fa-gem" style="width:45px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M18.8,2.07C21.32,2.5 22.04,4.23 22,6.04V6L20.86,20.93L6.08,21.94H6.09C4.86,21.89 2.13,21.77 2,17.95L3.37,15.45L6.14,21.91L8.5,14.29L8.45,14.3L8.47,14.28L16.18,16.74L14.19,8.96L21.54,8.5L15.75,3.76L18.8,2.06V2.07M2,17.91V17.93L2,17.91V17.91M6.28,6.23C9.24,3.28 13.07,1.54 14.54,3.03C16,4.5 14.46,8.12 11.5,11.06C8.5,14 4.73,15.84 3.26,14.36C1.79,12.87 3.3,9.17 6.27,6.23H6.28Z" />
        </svg>
        <svg class="fa-gem" style="width:52px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19.8,16.7C19.8,16.7 21.6,16.5 21.6,14.3C21.6,12.1 19.5,11.8 19.5,11.8H15.7V19H17.6V17.3L19.3,19H22L19.8,16.7M19,15.3H17.5V13.7H19C19,13.7 19.4,13.9 19.4,14.5C19.5,15.1 19,15.3 19,15.3M21.3,8.2V8.4C13.2,6.1 10,13.2 10.6,18.7C10.6,18.7 4.9,18.7 4.3,18.7C5,13.3 11.8,2.6 21.3,8.2M20.5,6.9C19.8,6.6 19.1,6.3 18.4,6.1L18.5,4.8L20.6,5.6L20.5,6.9M18.5,8.7C19.2,8.7 19.9,8.8 20.6,9L20.5,10.2L18.7,10L18.5,8.7M13.9,5.8L13.5,4.6L15.6,4.4L16,5.7C15.8,5.7 14.1,5.8 13.9,5.8M15.2,9.5C15.6,9.3 16.3,9 17.2,8.8L17.6,10L15.8,10.7L15.2,9.5M11.8,6.5C11.2,6.8 10.6,7.1 10,7.5L9.2,6.2L11,5.2L11.8,6.5M14.3,10.1L15.1,11.3L14,12.6L12.9,11.6C13.2,11 13.7,10.5 14.3,10.1M11.6,15C11.7,14.2 11.9,13.5 12.2,12.7L13.4,13.7L13.1,15.6L11.6,15M7.9,9.3C7.4,9.8 6.9,10.4 6.5,10.9L5.2,9.8L6.7,8.2L7.9,9.3M4.8,13.7C4.4,14.5 4.1,15.3 3.8,16L2,15.3L2.9,13L4.8,13.7M11.5,16.3L13.3,16.9L13.6,18.9L11.6,18.4C11.6,18.2 11.5,17.5 11.5,16.3Z" />
        </svg>
        <i class="fa-3x fab fa-python"></i>
        <i class="fa-3x fab fa-html5"></i>
        <i class="fa-3x fab fa-css3-alt"></i>
        <i class="fa-3x fab fa-js"></i>
        <i class="fa-3x postgre iconify" data-icon="akar-icons:postgresql-fill"></i>
        <i class="fa-3x heroku iconify" data-icon="bxl:heroku"></i>
        <i class="fa-3x bootstrap iconify" data-icon="akar-icons:bootstrap-fill"></i>
      </div>
    </div>

    <div class="col-12">
      <h2>Projects</h2>
      <p>You will need to create an account to see the webpages</p>
      <h4> Let's go</h4>
      <div class="container mb-2 p-1">
        <a id="floated" target="_blank" href="https://letsgo-social.com.br/">
          <%= image_tag('logo.png', alt: 'letsgo', width: 75) %>
        </a>
        <p>By using Ruby on Rails, Let`s Go was built to connect people, using
          APIs, MVC architecture, HTTP protocols and CRUD methods. You can
          create an account, create events, send messages to friends,
          attend an event, see who is going, see localization, post and see photos
        </p>
        <p>Technologies used:
          PostgreSQL, HTML, JavaScript, CSS/SCSS, Cloudinary (photo upload),
          Mapbox (geolocalization), Heroku (hosting).
        </p>
        <a class="underline-text" target="_blank" href="https://letsgo-social.com.br/">
          Click here to enter in Let's Go
        </a>
        <a class="underline-text" target="_blank" href="https://github.com/lucca1998byu/rent_for_all">
          Click here to see the source code
        </a>

      </div>
      <h4>Rent For All</h4>
      <div class="container mb-2 p-1">
        <a id="floated" target="_blank" href="https://rent-for-all.herokuapp.com/">
          <%= image_tag('rent.png', alt: 'letsgo', width: 75) %>
        </a>
        <p>Marketplace. With Rent For All you can find an item you need without buying it. </p>
        <p>Platform to trade tools and basic utensils, using the same technologies
          mentioned above. </p>
        <p>Skills: Team work, team communication</p>
        <a class="underline-text" target="_blank" href="https://rent-for-all.herokuapp.com/">
          Click here to enter in Rent For All
        </a>
        <a class="underline-text" target="_blank" href="https://github.com/lucca1998byu/rent_for_all">
          Click here to see the source code
        </a>
      </div>
      <h4>Provinha</h4>
      <div class="container mb-2 p-1">
        <a id="floated" target="_blank" href="https://provinha.herokuapp.com/">
          <%= image_tag('prova.png', alt: "provinha", width: 65) %>
        </a>
        <p>With Provinha you can create a class with a teacher, class president and students.</p>
        <p><strong>Teacher</strong> has the ability to create tests and see the answers</p>
        <p><strong>Class President</strong> can give extra points to students</p>
        <p><strong>Student</strong> can answer the questions, if they are not closed in the time</p>
        <p>Skills: built from zero, adapted to mobile devices.
        </p>
        <a class="underline-text" target="_blank" href="https://provinha.herokuapp.com/">
          Click here to enter in Provinha
        </a>
        <a class="underline-text" target="_blank" href="https://github.com/lucca1998byu/provinha">
          Click here to see the source code
        </a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
